body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom classes for capstone project: */
.max-w-400{
  max-width: 400px;
}

.min-w-300{
  min-width: 300px !important;
}

.hover_shadow:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}